/* https://stackoverflow.com/questions/468881/ */
@media print{
  @page { 
    size: A4 landscape;
    margin: 0;
  }
  body {
    visibility: hidden;
    width: 140%;
  }
  #section-to-print {
    visibility: visible;
  }
}

.container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  gap: 20px; /* Space between calendar and menu */
}

.calendar-container {
  width: 70%;
  margin-right: auto;
  overflow-x: auto;
}

.delete {
  float: right;
  font-size: x-large;
  color: #ff6161;
}

.delete:hover, .deleteScheduled:hover {
  color: white;
  cursor: pointer;
}

.deleteScheduled {
  float: right;
  color: #ff6161;
}

.menu {
  width: 25%;
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid black;
  height: 100%;
  position: sticky;
  top: 5px;
}

/* Modal styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: aquamarine;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  min-width: 300px;
  font-size: larger;
}

.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
}

#blockie-list {
  margin-top: 10px;
  max-height: 300px;
  overflow-y: auto;
}

.blockie-item {
  width: 90%;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word; /* Allows long words to wrap */
  cursor: grab;
  
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.calendar-blockie {
  width: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

.occupied {
  background-color: rgba(0, 0, 0, 0.1); /* Light grey to show blocked cells */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

#dark-mode-icon {
  cursor: pointer;
}